github "ReactiveCocoa/ReactiveCocoa" "5cb359c2ac17625ae9f4ce3ac955cc100d666fa6"
github "ikesyo/Himotoki" "9f6717c4cca558377fe4d1223d443883be401530"
github "Alamofire/Alamofire" ~> 2.0.0
github "Swinject/Swinject" ~> 0.2.1

github "Quick/Quick" ~> 0.5.1
github "Quick/Nimble" ~> 2.0.0
