github "ReactiveCocoa/ReactiveCocoa" "v4.0-alpha.1"
github "ikesyo/Himotoki" ~> 1.0.0
github "Alamofire/Alamofire" ~> 2.0.0
github "Swinject/Swinject" ~> 0.2.1

github "Quick/Quick" == 0.6.0
github "Quick/Nimble" "v2.0.0-rc.3"
