github "ReactiveCocoa/ReactiveCocoa" "5.0.0-alpha.3"
github "ikesyo/Himotoki" ~> 3.0
github "Alamofire/Alamofire" ~> 4.1
github "Swinject/Swinject" "2.0.0-beta.2"

github "Quick/Quick" "v0.10.0"
github "Quick/Nimble" ~> 5.1
